<div class="ui secondary menu">
  {{#each actionTypes as |actionType|}}
    <a class="item {{if (is-eq currentAction actionType.type) 'active'}}" {{action 'setTweetAction' actionType.type}}>{{actionType.labelText}}</a>
  {{/each}}
</div>
<button class="ui small button positive {{if isSaving 'loading'}}" {{action 'saveTweetAction'}}>
  <i class="icon save"></i>
  Save
</button>
