{{input
  class='js-option-value'
  type='text'
  value=value
  key-down='removeSpace'
  key-up='checkValidity'
  disabled=isAdding
}}
{{#each optionValueList as |optionValue|}}
  {{#if (is-eq optionType 'USERS')}}
    <div>{{optionValue.username}} - {{optionValue.name}}</div>
    <button {{action 'removeFavItem' optionValue}}>Remove</button>
  {{else}}
    <div>{{optionValue.keyword}}</div>
    <button {{action 'removeFavItem' optionValue}}>Remove</button>
  {{/if}}
{{else}}
  {{#if (is-eq optionType 'USERS')}}
    Add a minimum of {{optionValueMinLimit}} users for finding best content
  {{else}}
    Add a minimum of {{optionValueMinLimit}} keywords sharing relevant content
  {{/if}}
{{/each}}
<br>
<button {{action 'submitFavList'}}>Submit</button>