<div class="ui left icon input fluid {{if isAdding 'loading'}}">
  {{input
    class='js-option-value'
    type='text'
    value=value
    placeholder=(if (is-eq optionType 'USERS') 'Enter you favorite users here' 'Enter you favorite keywords here')
    key-down='removeSpace'
    key-up='checkValidity'
    disabled=isAdding
  }}
  {{#if (is-eq optionType 'USERS')}}
    <i class="users icon"></i>
  {{else}}
    <i class="tag icon"></i>
  {{/if}}
</div>
{{#each optionValueList as |optionValue|}}

  {{#if (is-eq optionType 'USERS')}}
    <a class="ui image big label">
      <img class="ui right spaced avatar image" src={{optionValue.profile_image_url}}>
      @{{optionValue.username}}
      <i class="delete icon" {{action 'removeFavItem' optionValue}}></i>
    </a>
  {{else}}
    <a class="ui image big label">
      <i class="star icon"></i>
      {{optionValue.keyword}}
      <i class="delete icon" {{action 'removeFavItem' optionValue}}></i>
    </a>
  {{/if}}
{{else}}
  <div class="empty__warning">
    {{#if (is-eq optionType 'USERS')}}
      Add a minimum of {{optionValueMinLimit}} users for finding best content
    {{else}}
      Add a minimum of {{optionValueMinLimit}} keywords sharing relevant content
    {{/if}}
  </div>
{{/each}}

<button class="ui large button positive {{if isSaving 'loading'}}" {{action 'submitFavList'}}>
  <i class="icon save"></i>
  {{#if (is-eq optionType 'USERS')}}
    Save Users
  {{else}}
    Save Keywords
  {{/if}}
</button>
