<div class="ui divided items">
  {{#each model as |tweet|}}
    <div class="item">
      <div class="content tweet__content">
        <div class="ui stackable grid">
          <div class="three column row">
            <div class="ui circular mini image user__image">
              {{#lazy-background-image url=tweet.tweet_profile_image_url}}
                <img src="images/empty.png">
              {{/lazy-background-image}}
            </div>

            <div class="six wide column">
              <div class="tweet_author_details">
                <a class="tweet__author__link bold" href="//twitter.com/{{tweet.tweet_author}}">
                  @<span class="tweet__author__username">{{tweet.tweet_author}}</span>
                </a>
                <a class="tweet__link tweet__author__tweet__link" {{action 'viewStatus' tweet 'original'}} target="_blank" href="//twitter.com/{{tweet.original_tweet_author}}/status/{{tweet.original_tweet_id}}">
                  {{#if (is-eq tweet.tweet_type 'original')}}
                    posted
                  {{else}}
                    retweeted
                  {{/if}}
                  <i class="external icon"></i>
                </a>
              </div>
              <div class="t-{{color-score tweet.tweet_score}} tweet__score bold">
                Score: {{tweet.tweet_score}}
              </div>
            </div>

            <div class="nine wide right floated column">
              {{#if tweet.posted}}
                <div class="tweet__meta__content">
                  {{#if tweet.error}}
                    <i class="warning sign icon tweet__action__icon"></i>
                    <span class="black tweet__action__type">Not posted:</span> {{tweet.error}}
                  {{else}}
                    <span class="bold">
                      <i class="icon checkmark"></i>
                      Posted on:
                      <a class="tweet__link" {{action 'viewStatus' tweet 'posted'}} target="_blank" href="//twitter.com/{{tweet.original_tweet_author}}/status/{{tweet.posted_tweet_id}}">
                        {{format-time tweet.posted_at}}
                      </a>
                      <i class="external icon"></i>
                    </span>
                  {{/if}}
                </div>
              {{else}}
                {{#if tweet.approved}}
                  <div class="tweet__meta__content">
                    <span class="bold tweet__timing">
                      <i class="icon alarm outline"></i>
                      Scheduled for:
                      <a class="tweet__link">
                        {{format-time tweet.scheduled_at}}
                      </a>
                    </span>
                  </div>
                {{else}}
                  <div class="tweet__meta__content">
                    <button class="ui tiny teal label bold {{if tweet.isApproving 'loading'}} tweet__status" {{action 'approveTweet' tweet}}>
                      <i class="checkmark icon"></i>
                      APPROVE
                    </button>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          </div>
        </div>
        <div class="row description tweet__text bold">
          {{#unless (is-eq tweet.tweet_media_entities.length 0)}}
            <div class="ui medium image right floated tweet__image__container">
              <img src={{tweet.tweet_media_entities.[0].media_url}} class="tweet__image">
            </div>
          {{/unless}}
          {{auto-link tweet.tweet_text tweet.tweet_url_entities tweet.tweet_media_entities}}
        </div>
      </div>
    </div>
  {{else}}
    {{#unless isAccountCreatedTimeMoreThanHour}}
      <div class="ui segment no-content">
        <div class="ui header center aligned bold">
          Congratulations! Your part is over 🍷
        </div>
        Now we do the heavy lifting of finding and posting amazing content for you. Come back in an hour to see the awesomeness that we have found.
      </div>
    {{else}}
      <div class="ui center aligned segment no-content">
        <div class="ui huge header center aligned bold">
          😔
        </div>
        It seems that we could not find engaging content for your account. Try adding different users and keywords.
        <div {{action 'changeKeywordOrUsers' 'app.settings' 'analysedButNotPosted'}} class="ui primary button help__link">
          Change Keywords / Users
        </div>
      </div>
    {{/unless}}
  {{/each}}
</div>