<div class="ui divided items">
  {{#each model as |postedTweet|}}
    <div class="item">
      <div class="content">
        <div class="ui header">
          <div class="ui circular mini image user__image">
            {{#lazy-background-image url=postedTweet.original_tweet_profile_image_url}}
              <img src="images/empty.png">
            {{/lazy-background-image}}
          </div>
          <div class="tweet_author_details">
            <a class="tweet__author__link" href="//twitter.com/{{postedTweet.original_tweet_author}}">
              @
              <span class="tweet__author__username">{{postedTweet.original_tweet_author}}</span>
            </a>
            {{#if (is-eq postedTweet.tweet_type 'original')}}
              posted
            {{else}}
              retweeted
            {{/if}}
          </div>
          <a class="ui {{color-score postedTweet.tweet_score}} basic small label tweet__score">
            Score: {{postedTweet.tweet_score}}
          </a>
        </div>
        <div class="description tweet__text">
          {{auto-link postedTweet.tweet_text}}
        </div>
        <div class="extra content">
          {{#if postedTweet.error}}
            <i class="warning sign icon tweet__action__icon"></i>
            <span class="black tweet__action__type">Not posted:</span> {{postedTweet.error}}
          {{else}}
            <i class="history icon tweet__action__icon"></i>
            <span class="black tweet__action__type">Posted on:</span> {{format-time postedTweet.posted_at}}
          {{/if}}
          {{#unless postedTweet.error}}
            <a class="ui right floated" target="_blank" href="//twitter.com/{{postedTweet.original_tweet_author}}/status/{{postedTweet.posted_tweet_id}}">
              <span class="tweet__link">
                View posted status
              </span>
              <i class="external icon"></i>
            </a>
          {{/unless}}
        </div>
      </div>
    </div>
  {{else}}
    {{#unless isAccountCreatedTimeMoreThanHour}}
      <div class="ui segment no-content">
        <div class="ui header center aligned bold">
          Congratulations! Your part is over 🍷
        </div>
        Looks like you setup your account less than an hour ago. In that case, <span class="bold">your part is over</span>. Now we do the heavy lifting of finding and posting amazing content for you. Come back after an hour to see the awesomeness that we have found.
      </div>
    {{else}}
      <div class="ui center aligned segment no-content">
        <div class="ui huge header center aligned bold">
          😔
        </div>
        It seems that we could not find engaging content for your account. Try adding different users and keywords.
        {{#link-to 'app.settings' tagName="div" class="ui primary button help__link"}}
          Change Keywords / Users
        {{/link-to}}
      </div>
    {{/unless}}
  {{/each}}
</div>