<div class="ui divided items">
  {{#each model as |scheduledTweet|}}
    <div class="item">
      <div class="content">
        <div class="ui header">
          <div class="ui circular mini image user__image">
            {{#lazy-background-image url=scheduledTweet.original_tweet_profile_image_url}}
              <img src="images/empty.png">
            {{/lazy-background-image}}
          </div>
          <div class="tweet_author_details">
            <a class="tweet__author__link" href="//twitter.com/{{scheduledTweet.original_tweet_author}}">
              @
              <span class="tweet__author__username">{{scheduledTweet.original_tweet_author}}</span>
            </a>
            {{#if (is-eq scheduledTweet.tweet_type 'original')}}
              posted
            {{else}}
              retweeted
            {{/if}}
          </div>
          <a class="ui {{color-score scheduledTweet.tweet_score}} basic small label tweet__score">
            Score: {{scheduledTweet.tweet_score}}
          </a>
        </div>
        <div class="description tweet__text">
          {{auto-link scheduledTweet.tweet_text}}
        </div>
        <div class="extra content">
          <i class="history icon tweet__action__icon"></i>
          <span class="black tweet__action__type">Will be posted on:</span> {{format-time scheduledTweet.scheduled_at}}
          <a class="ui right floated" target="_blank" href="//twitter.com/{{scheduledTweet.original_tweet_author}}/status/{{scheduledTweet.original_tweet_id}}">
            <span class="tweet__link">
              View original status
            </span>
            <i class="external icon"></i>
          </a>
        </div>
      </div>
    </div>
  {{else}}
    <div class="item">
      Tweetify has not scheduled any tweets for the next hour. {{#link-to 'app.settings' class="help__link"}}Click here{{/link-to}} and change your keywords to find better content
    </div>
  {{/each}}
</div>
