<div class="ui left demo vertical visible inverted sidebar labeled icon menu app-menu">
  {{#link-to 'app.profile' class='item'}}
    <i class="home icon"></i>
    Dashboard
  {{/link-to}}
  {{#link-to 'app.settings' class='item'}}
    <i class="settings icon"></i>
    Settings
  {{/link-to}}
  {{#link-to 'logout' class='item bottom'}}
    <i class="sign out icon"></i>
    Logout
  {{/link-to}}
</div>

<div class="app-body">

  <div class="ui grid">
    <div class="two column row">
      <div class="eleven wide column">
        <div class="ui secondary pointing menu">
          {{#link-to 'app.profile.scheduled' class="item"}}
            Scheduled
          {{/link-to}}
          {{#link-to 'app.profile.posted' class="item"}}
            Posted
          {{/link-to}}
        </div>
        <div>
          {{outlet}}
        </div>
      </div>
      <div class="five wide column">
        <div class="ui cards">
          <div class="ui card">
            <div class="banner__image {{unless session.currentUser.profile_banner_url 'banner__image--default'}}">
              {{#if session.currentUser.profile_banner_url}}
                <img src={{session.currentUser.profile_banner_url}}>
              {{/if}}
            </div>
            <div class="ui centered circular image profile__image">
              {{#lazy-background-image url=session.currentUser.profile_image_url}}
                <img src="images/empty.png">
              {{/lazy-background-image}}
            </div>
            <div class="content user__profile__details">
              <a class="ui centered header" href="//twitter.com/{{session.currentUser.username}}" target="_blank">@{{session.currentUser.username}}</a>
              <a class="ui centered header" href="//twitter.com/{{session.currentUser.username}}" target="_blank">{{session.currentUser.name}}</a>
            </div>
            <div class="extra content">
              {{tweet-activity class="user__content__stats__activity"}}
            </div>
            <div class="extra content time">
              <div>
                <i class="history icon"></i>
                <span class="user__content__stats__type">Last checked at</span>
                <div>{{format-time session.currentUser.last_cron_run_time}}</div>
              </div>
            </div>
            <div class="extra content">
              <div class="user__content__stats">
                <i class="send outline icon"></i>
                <span class="user__content__stats__type">Total tweets posted</span><span class="user__content__stats__value">{{session.currentUser.total_tweets_posted}}</span>
              </div>
              <div class="user__content__stats">
                <i class="unhide icon"></i>
                <span class="user__content__stats__type">Total tweets analysed</span><span class="user__content__stats__value">{{session.currentUser.total_tweets_analysed}}</span>
              </div>
              <div class="user__content__stats">
                <i class="users icon"></i>
                <span class="user__content__stats__type">Favorite users count</span><span class="user__content__stats__value">{{session.currentUser.fav_users.length}}</span>
              </div>
              <div class="user__content__stats">
                <i class="tag icon"></i>
                <span class="user__content__stats__type">Favorite keywords count</span><span class="user__content__stats__value">{{session.currentUser.fav_keywords.length}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
