<div class="top-section">
  <div class="ui top menu logo__container">
    <a href="/" class="logo bold">TWEETIFY</a>
    <a href="//twitter.com/tweetifyio" target="_blank" {{action 'headerFollowClicked'}} class="bold twitter-icon">
      Follow @tweetifyio
      <i class="icon large twitter outline button"></i>
    </a>
  </div>
  <div class="center-align maintenance">
    😔
    <h1>Tweetify is down for maintenance</h1>
    <h3>We'll be back before you know it. Meanwhile, follow us on twitter for updates</h3>
    <a href="https://twitter.com/tweetifyio" target="_blank" class="twitter-follow-button" data-show-count="true">Follow @tweetifyio</a>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
  </div>
</div>

{{!-- <div class="top-section dark-bg">
  <div class="ui top menu logo__container">
    <a href="/" class="logo bold">TWEETIFY</a>
    <a href="//twitter.com/tweetifyio" target="_blank" {{action 'headerFollowClicked'}} class="bold twitter-icon">
      Follow @tweetifyio
      <i class="icon large twitter outline button"></i>
    </a>
  </div>

  <div class="main-section">
    <h1 class="ui header usp center aligned brand">THE MISSING CONTENT AUTOMATION TOOL</h1>
    <div class="ui two column relaxed stackable grid">
      <div class="two column row">
        <div class="eight wide column">
          <div class="home usp--sub">
            <div class="ui header center aligned white padded brand">
              Automagically share the most engaging and top performing content based on your preferences
            </div>
            <div class="padded top__help">
              <a class="top__help__link bold" {{action 'scrollToAnchor' 'how'}} href="#">What value does it give</a>
              <a class="top__help__link bold" {{action 'scrollToAnchor' 'why'}} href="#">How it works</a>
            </div>
            <div class="signin__link">
              <a href="#" {{action 'signInViaTwitter' 'header'}} class="primary big ui button">
                <i class="icon large twitter outline button"></i>
                <span>
                  LOGIN WITH TWITTER
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="seven wide column">
          <img src="/images/mac.png" class="ui massive image">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature-section light-bg" data-anchor="how">
  <h1 class="ui large header center aligned section__heading">WHAT VALUE DOES IT GIVE</h1>
  <div class="ui two column relaxed stackable grid">
    <div class="two column row">
      <div class="seven wide column right floated">
        <i class="icon share alternate feature__icon"></i>
        <div class="content">
          <div class="header bold">FIND GREAT CONTENT</div>
          <div class="description">We find amazing content based on your user and keyword preferences</div>
        </div>
      </div>
      <div class="seven wide column left floated">
        <i class="icon send outline feature__icon"></i>
        <div class="content">
          <div class="header bold">SMART SHARING</div>
          <div class="description">Top tweets are not posted in one go. They are scheduled over the next hour for maximum engagement</div>
        </div>
      </div>
    </div>
    <div class="two column row">
      <div class="seven wide column right floated">
        <div class="feature__icon">
          <i class="icon unhide outline"></i>
        </div>
        <div class="content">
          <div class="header bold">STAY ACTIVE</div>
          <div class="description">We monitor your feed 24 x 7 behind the scenes and post great content every hour</div>
        </div>
      </div>
      <div class="seven wide column left floated">
        <i class="icon ban outline feature__icon"></i>
        <div class="content">
          <div class="header bold">NO SPAM</div>
          <div class="description">We post the top tweets based on a smart algorithm that ranks tweets and filters spam</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="how-section dark-bg" data-anchor="why">
  <div class="module">
    <h1 class="module__heading ui large header">HOW IT WORKS</h1>
    <ol class="custom-bullet">
      <li>Authorize Tweetify to access your account and setup your favorite users and keywords</li>
      <li>We start hourly monitoring of your feed for posts by any of your favorite users</li>
      <li>We filter these posts based on your specified keywords and find top tweets based on engagement</li>
      <li>We schedule top 5 of these tweets (to be tweeted from your account) over the next hour</li>
    </ol>
  </div>
</div>

<div class="cta-section">
  <h1 class="ui large header center aligned section__heading">
    Make your twitter account active again. Setup in just 30 seconds.
  </h1>
  <div class="signin__link">
    <a href="#" {{action 'signInViaTwitter' 'footer'}} class="primary big ui button">
      <i class="icon large twitter outline button"></i>
      <span>
        LOGIN WITH TWITTER
      </span>
    </a>
  </div>
</div>

<div class="site-footer dark-bg">
  <h3>
    <a href="https://twitter.com/tweetifyio" target="_blank" class="twitter-follow-button" data-show-count="true">Follow @tweetifyio</a>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
  </h3>
  <h3>
    Made with
    <i class="icon heart"></i>
    by <a href="//twitter.com/geekykaran" target="_blank" {{action 'footerUsernameClicked'}}>@geekykaran</a>
    <div class="separator">&nbsp;</div>
    Tell me if you like it: <a href="mailto:karanjthakkar@gmail.com?subject=I <3 Tweetify" target="_blank" {{action 'footerContactMeClicked'}}>karanjthakkar@gmail.com</a>
  </h3>
</div>
 --}}